<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='addUser.css') }}">
</head>
<body>
    <header>
        <a href="/admin/users">Back</a>
        <a href="/logout">Logout</a>
    </header>
    <main>
        <h1>Add User</h1>
        <form method="POST" name="addUser">
            {% if error %}
            <p id="error">Error: {{error}}.</p>
            {% endif %}
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password" name="passwordConf" id="passwordConf" placeholder="Password Confirmation">
            <button type="submit">Add</button>
        </form>
    </main>
</body>
</html>